.container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    white-space: nowrap;
    font-size: var(--type-scale-0);
    &.isActive {
        svg {
            path {
                stroke: var(--type-color--light)
            }
        }
    }
    &.default {
        background-color: var(--background-color--button--default);
        padding: 0 var(--spacer-3);
        height: 32px;
        line-height: 34px;
    }
    &.cta {
        color: var(--type-color--invert);
        background-color: var(--background-color--button--cta);
        padding: 0 var(--spacer-4);
        height: 40px;
        line-height: 42px;
    }
    &.icon {
        color: var(--type-color);
        padding: var(--spacer-1) var(--spacer-1);
        width: 40px;
        height: 40px;
        svg {
            width: 20px;
            height: auto;
            path {
                stroke: var(--type-color);
            }
        }
    }
}