.container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    border-radius: var(--border-radius);
    white-space: nowrap;
    font-size: var(--type-scale-0);
    &.isActive {
        svg {
            path {
                stroke: var(--type-color--light)
            }
        }
    }
    &.cta {
        color: var(--type-color--invert);
        background-color: var(--background-color--invert);
        padding: 0 var(--spacer-4);
        border-radius: 100px;
        min-height: 40px;
    }
    &.none {
        color: var(--type-color);
        padding: var(--spacer-1) var(--spacer-2);
        font-weight: 300;
        border: none;
        svg {
            margin-left: var(--spacer-3);
            width: 24px;
            height: auto;
            path {
                stroke: var(--type-color);
            }
        }
    }
}