@import './styles/globals.scss';

.container {
    overflow: hidden;
    padding: var(--spacer-7) var(--padding--site) 0 var(--padding--site);
    .top {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap: var(--spacer-6) var(--grid-gap);
        padding-bottom: var(--spacer-7);
        .contact, .social {
            ul {
                li {
                    a {
                        display: inline-block;
                        line-height: 32px;
                        font-size: var(--type-scale-0);
                    }
                }
            }
        }
        .contact {
            grid-column: 1/13;
            @media(min-width: $breakpiont-small) {
                grid-column: 1/4;
            }
        }
        .social {

        }
        .newsletter {
            grid-column: 1/13;
            @media(min-width: $breakpiont-small) {
                grid-column: 7/11;
            }
            max-width: 400px;
        }
        .scrollTop {
            grid-column: 1/13;
            align-self: start;
            justify-self: end;
            @media(min-width: $breakpiont-small) {
                grid-column: 11/13;
            }
        }
    }
    .bottom {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap: 0 var(--grid-gap);
        padding: var(--spacer-3) 0;
        border-top: 1px solid var(--border-color);
        .copyright {
            grid-column: 1/13;
            @media(min-width: $breakpiont-small) {
                grid-column: 1/3;
            }
            span {
                font-size: var(--type-scale--min);
                line-height: 32px;
            }
        }
        .legal {
            grid-column: 1/11;
            @media(min-width: $breakpiont-small) {
                grid-column: 3/12;
            }
            ul {
                display: flex;
                align-items: center;
                margin: 0 calc(var(--spacer-3) * -1);
                li {
                    margin: 0 var(--spacer-3);
                    a, span {
                        display: inline-block;
                        line-height: 32px;
                        font-size: var(--type-scale--min);
                    }
                }
            }
        }
        .languageSwitcher {
            grid-column: 11/13;
            @media(min-width: $breakpiont-small) {
                grid-column: 12/13;
                justify-self: end;
            }
        }
    }
}