.container {
    display: flex;
    align-items: center;
    margin: 0 calc(var(--spacer-2) * -1);
    li {
        line-height: 0;
        a {
            line-height: 0;
            margin: 0 var(--spacer-2);
            svg {
                height: 24px;
                width: 24px;
                path {
                    fill: var(--type-color);
                }
            }
        }
    }
}