.container {
    position: absolute;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    z-index: 1;
    &.top-left {
        bottom: var(--spacer-5);
        right: 0;
    }
    &.top-right {
        bottom: var(--spacer-5);
        left: 0;
    }
    &.bottom-left {
        top: var(--spacer-5);
        right: 0;
    }
    &.bottom-right {
        top: var(--spacer-5);
        left: 0;
    }
    &.isVisible {
        opacity: 1;
        pointer-events: auto;
    }
    &.isHidden {
        opacity: 0;
        pointer-events: none;
    }
}