.container{
    position: relative;
    display: block;
    width: 100%;
    &.hasError {
        .holder {
            input {
                border: 1px solid var(--border-color--error);
            }
        }
    }
    .holder {
        position: relative;
        input {
            width: 100%;
        }

    }
}