    
    .container {
        position: relative;
        display: block;
        .holder {
            position: relative;
            &.single {
                input {
                    width: 100%;
                    cursor: pointer;
                }
                .holder {
                    padding: var(--spacer-2) var(--spacer-3);
                    cursor: pointer;
                    &:hover {
                        background-color: #ccc;
                    }
                    span {
                        font-size: var(--type-scale-0);
                    }
                }
            }
            &.multiple {
                label {
                    display: flex;
                    margin: var(--spacer-2) 0;
                }
            }
        }
    }